<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="blur-background"></div>
    <div class="container">
        <%- include('../includes/navigation.ejs') %>
        <div class="main">
            <div class="slides">
                <div class="untitled">
                    <div class="untitled__slides">
                        <div class="untitled__slide">
                            <div class="untitled__slideBg"></div>
                            <div class="untitled__slideContent">
                                <span>Welcome To </span> 
                                <span>UniSalon</span>
                                <a class="button" href="/about" target="/black">Read About Us</a>
                            </div>
                        </div>
                        <div class="untitled__slide">
                            <div class="untitled__slideBg"></div>
                            <div class="untitled__slideContent">
                                
                                <span>Upcoming Plans for this</span> 
                                <span>Project</span>
                                <a class="button" href="#" target="/black">See Here</a>
                            </div>
                        </div>
                        <div class="untitled__slide">
                            <div class="untitled__slideBg"></div>
                            <div class="untitled__slideContent">
                                <span>Barber of the Month-</span> 
                                <span>Temitayo</span>
                                <a class="button" href="#" target="/black">Instagram Profile</a>
                            </div>
                        </div>
                        <div class="untitled__slide">
                            <div class="untitled__slideBg"></div>
                            <div class="untitled__slideContent">
                                <span>Wanna be a</span> 
                                <span>Barber?</span>
                                <a class="button" href="/admin/barbers" target="/black">Register Here</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="untitled__shutters"></div> -->
                </div>
            </div>
        </div>
        <div class="main2">
            <h1>UniSalon</h1>
            <p>UniSalon is a barber shop that offers a wide range of services, including haircuts, styling, and grooming, specifically designed for college students. We understand how difficult it can be to find a reliable barber while juggling the demands of student life. Most traditional barber shops are either too far from campus or too expensive for a student budget. That's where UniSalon steps in — we’re not just any barber shop; we’re run by students, for students. Our talented team of student barbers provides high-quality services at affordable prices, making it easier for you to stay sharp without breaking the bank. At UniSalon, we create a comfortable environment where students can trust they’re getting great service while supporting their peers. It's a win-win!</p>
            <a href="/barbers" class="book_now">
                Book Now
            </a>
        </div>

        <footer>
            <div class="footer__container">
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat"></i></a>
                <a href="https://www.whatsapp.com" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a>
            </div>
        </footer>
    </div>
<%- include('../includes/end.ejs') %>